body {
    font-family: "Arial", sans-serif;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    max-height: 100vh;
    margin: 20px auto;
}

.fixed {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: 20vw;
    height: 15vw;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    box-shadow: 5px 8px 15px -6px rgba(0, 0, 0, 0.5);
    cursor: grab;
}
