.player {
    width: 5vw;

    height: 5vw;

    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
        scale(1.3);
    border: 2px solid #e6e6e6;
    box-shadow: 0 40px 30px -20px rgba(0, 0, 0, 0.8);
}
#player1 {
    z-index: 11;
}
#player2 {
    z-index: 10;
}

.player-name {
    position: absolute;
    font-size: 12px;
    margin-top: 5px;
}
